<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ws" value="ws://10.38.160.50" />
    <add key="uripath" value="/bcdemo" />
    <add key="port" value="8080" />
    <add key="user" value="steve" />
    <add key="bchainpath" value="c:\\test\\test2\\" />
  </appSettings>
</configuration>